name: Build for Windows and test cpu
on:
  push:
    paths-ignore:
      - '**.md'
      - 'LICENSE'
  pull_request:
    paths:
      - '**.md'
      - 'LICENSE'

jobs:
  build:
    name: Build
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10' 
      
    - name: Build
      shell: cmd
      run: |
        mkdir build && cd build
        call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        cmake .. -G "NMake Makefiles" -DUSE_BACKTRACE=OFF -DBUILD_TEST=ON -DCMAKE_BUILD_TYPE=Release
        nmake
        copy backend*.pyd ..\pyinfinitensor\src\pyinfinitensor\backend.pyd
    
    - name: Test cpu
      shell: cmd
      run: |
        cd build
        call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        nmake test
    
    - name: Install python-frontend
      shell: cmd
      run: |
        python -m pip install --upgrade pip
        pip install -e pyinfinitensor
        python -c "import pyinfinitensor" 
